
@font-face {
	font-family: 'Futura PT';
	src: url('../fonts/FuturaPT/FuturaPT-BookObl.eot');
	src: local('Futura PT Oblique'), local('FuturaPT-BookObl'),
		url('../fonts/FuturaPT/FuturaPT-BookObl.eot?#iefix') format('embedded-opentype'),
		url('../fonts/FuturaPT/FuturaPT-BookObl.woff') format('woff'),
		url('../fonts/FuturaPT/FuturaPT-BookObl.ttf') format('truetype'),
		url('../fonts/FuturaPT/FuturaPT-BookObl.svg#FuturaPT-BookObl') format('svg');
	font-weight: normal;
	font-style: italic;
}

@font-face {
	font-family: 'Futura PT';
	src: url('../fonts/FuturaPT/FuturaPT-BoldObl.eot');
	src: local('Futura PT Bold Oblique'), local('FuturaPT-BoldObl'),
		url('../fonts/FuturaPT/FuturaPT-BoldObl.eot?#iefix') format('embedded-opentype'),
		url('../fonts/FuturaPT/FuturaPT-BoldObl.woff') format('woff'),
		url('../fonts/FuturaPT/FuturaPT-BoldObl.ttf') format('truetype'),
		url('../fonts/FuturaPT/FuturaPT-BoldObl.svg#FuturaPT-BoldObl') format('svg');
	font-weight: bold;
	font-style: italic;
}

@font-face {
	font-family: 'Futura PT';
	src: url('../fonts/FuturaPT/FuturaPT-Book.eot');
	src: local('Futura PT'), local('FuturaPT-Book'),
		url('../fonts/FuturaPT/FuturaPT-Book.eot?#iefix') format('embedded-opentype'),
		url('../fonts/FuturaPT/FuturaPT-Book.woff') format('woff'),
		url('../fonts/FuturaPT/FuturaPT-Book.ttf') format('truetype'),
		url('../fonts/FuturaPT/FuturaPT-Book.svg#FuturaPT-Book') format('svg');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'Futura PT';
	src: url('../fonts/FuturaPT/FuturaPT-MediumObl.eot');
	src: local('Futura PT Medium Oblique'), local('FuturaPT-MediumObl'),
		url('../fonts/FuturaPT/FuturaPT-MediumObl.eot?#iefix') format('embedded-opentype'),
		url('../fonts/FuturaPT/FuturaPT-MediumObl.woff') format('woff'),
		url('../fonts/FuturaPT/FuturaPT-MediumObl.ttf') format('truetype'),
		url('../fonts/FuturaPT/FuturaPT-MediumObl.svg#FuturaPT-MediumObl') format('svg');
	font-weight: 500;
	font-style: italic;
}

@font-face {
	font-family: 'Futura PT';
	src: url('../fonts/FuturaPT/FuturaPT-Medium.eot');
	src: local('Futura PT Medium'), local('FuturaPT-Medium'),
		url('../fonts/FuturaPT/FuturaPT-Medium.eot?#iefix') format('embedded-opentype'),
		url('../fonts/FuturaPT/FuturaPT-Medium.woff') format('woff'),
		url('../fonts/FuturaPT/FuturaPT-Medium.ttf') format('truetype'),
		url('../fonts/FuturaPT/FuturaPT-Medium.svg#FuturaPT-Medium') format('svg');
	font-weight: 500;
	font-style: normal;
}

@font-face {
	font-family: 'Futura PT';
	src: url('../fonts/FuturaPT/FuturaPT-Bold.eot');
	src: local('Futura PT Bold'), local('FuturaPT-Bold'),
		url('../fonts/FuturaPT/FuturaPT-Bold.eot?#iefix') format('embedded-opentype'),
		url('../fonts/FuturaPT/FuturaPT-Bold.woff') format('woff'),
		url('../fonts/FuturaPT/FuturaPT-Bold.ttf') format('truetype'),
		url('../fonts/FuturaPT/FuturaPT-Bold.svg#FuturaPT-Bold') format('svg');
	font-weight: bold;
	font-style: normal;
}
