.box-collapse__content

	.row.justify-content-lg-center.justify-content-md-end

		.col-md-8.col-md-10
			
			.box-question
				h4 Question lorem ipsum
				p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Reprehenderit repellendus ea, error tempore ducimus, repellat veniam amet dicta ipsum, vel eos aut praesentium porro neque, ipsam minus autem tenetur! Eum!?
				p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quae voluptas velit porro, ratione debitis aspernatur. Corporis dicta sed, iste exercitationem quibusdam illum id, porro! Voluptatibus asperiores accusamus eaque maiores animi!?

			.box-question
				h4 How to lorem ipsum dolor sit amet, consectetur adipisicing elit. Nemo, excepturi.?
				p  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quod magnam architecto et, nemo, distinctio quas tenetur facere sapiente reprehenderit, necessitatibus ab. Molestias doloribus, neque natus!?
