
//.candidate-header
.candidate-header

	include _candidate-board-not-link.pug


///.candidate-header




//.candidate-subheader
.candidate-subheader


	//.candidate-board__container
	.candidate-board__container.subsection

	
		//.box
		.box.box--border

			.box__container

				.text-center

					h5.mb-0 HireHumanly Candidate Profile
					

		///.box



		+candidateBoardIcons(
			"leadership.svg"
		)



	///.candidate-board__container



///.candidate-subheader
















