
//.candidate-board__container
a.candidate-board__container.subsection.box--shadow-hover.link-inherit(href="profile.html")
	
	+candidateBoard(
		"Add to Shortlist",
		"hands-shake.svg"
	)

///.candidate-board__container
