
//.candidate-board__container
.candidate-board__container.subsection
	

	//.candidate-board
	.candidate-board

		.row.no-gutters.box-group

			.col-lg-4.col-md-6.box-group__item
				
				//.box
				.box.box--border.h-100
					
					h2.display-4 Dwight Shrute
					p.text-muted.mb-0
						| Applied for: Director, Inside Sales
						br
						| Applied on: 5/1/2018

					
					.row.align-items-center

						.col-md-6

							p.text-muted.mb-0
								i.fa.fa-phone.icon-left
								| 813-340-5588
						
						.col-md-6

							.text-right

								a.btn.btn-link.btn-sm.mb-0(href="#0" data-toggle="collapse" data-target="#contact-info")
									i.fa.fa-angle-down.icon-left
									| More contact info


					//.card__contact-info
					.card__contact-info.collapse#contact-info
						
						//.contacts-list
						ul.contacts-list.list-unstyled.text-muted.mt-3

							li
								i.fa.icon-left.fa-skype
								| JohnDoe123
								hr

							li
								i.fa.icon-left.fa-comment
								| TheJohnDoe
								hr

							li
								i.fa.icon-left.fa-envelope
								| john.doe@gmail.com
								//- hr
						
						///.contacts-list

	

					///.card__contact-info



				///.box


			.col-lg-2.col-md-6.box-group__item.order-3.order-lg-2
				
				//.box
				.box.box--border.h-100
					
					.text-center
						
						h5.fw400 Recruiter Concierge Replay 

						a(href="#0")
							img.box__icon-2(src="img/tpl/message-gray.svg", alt="")


				///.box


			.col-lg-4.col-md-6.box-group__item
				
				//.box
				.box.box--border.h-100
					
					h5.fw400 Recent work experience
					
					h4.fw400.mb-0 ADOBE SYSTEMS
					
					p.text-muted.mb-0
						| Senior Inside Sales Representative
						br
						| Experience: 7 Years


					.text-right

						a.btn.btn-link.btn-sm.mb-0(href="#0")
							i.fa.fa-paperclip.icon-left
							| View Resume

					
				///.box


			.col-lg-2.col-md-6.order-2.order-lg-4.box-group__item
				
				//.box
				.box.box--border.h-100
					
					.text-center
						
						h5.fw400 Relevant Years of Experience


						.years-experience
							h2.years-experience__value 10

				///.box


	
	///.candidate-board


///.candidate-board__container



