
//.job-board
.job-board.box.box--rounded.box--border.subsection

	.row

		.col-md-8
			
			//job title and city
			.box__header
				h2 Senior Development Engineer
				h5: span.fw500 Atlanta, GA

				h5.mb-0: span.text-muted.fw400 Date posted: 1/3/18 | Days open: 29 
				
				h5
					| Job posting: 
					a.text-primary.fw400(href="http://hortonworks.com/careers/details/671347"): i http://hortonworks.com/careers/details/671347
				
		.col-md-4

			//.job-board__statistic
			.job-board__statistic

				//.statistic-item
				.statistic-item
					.statistic-item__number
						.statistic-item__number-icon.icon-left
							img(src="img/tpl/positions.png", alt="", width="16")
						b.statistic-item__number-text 32
					.statistic-item__text Candidates  


				//.statistic-item
				.statistic-item
					.statistic-item__number
						.statistic-item__number-icon.icon-left
							img(src="img/tpl/screened-small.png", alt="" width="20")
						b.statistic-item__number-text 29
					.statistic-item__text Screened  


				//.statistic-item
				.statistic-item
					.statistic-item__number
						.statistic-item__number-icon.icon-left
							img(src="img/tpl/interview-small.png", alt="" width="18")
						b.statistic-item__number-text 13
					.statistic-item__text Interviews  


			
			///.job-board__statistic

///.job-board