//To top
.to-top__container

	.container

		a.to-top.box--shadow-hover.js-to-top(href="#")
			img(src="img/tpl/to-top.svg", alt="")



// Scripts

// jQuery
script(src="js/jquery-3.2.1.min.js")

// Framework
script(src="js/popper.min.js")
script(src="js/bootstrap.min.js")

// Custom
script(src="js/main.js")
