include ../_mixins.pug


doctype
html(lang="zxx")

	include ../components/_head.pug

	body
	
		include ../components/_header.pug


		//.page-content
		.page-content


			//.main
			main.main

				block content

			///.main

		///.page-content

		include ../components/_scripts.pug
