extends templates/template-dashboard.pug

block content

	.container
		
		include components/_filters.pug

	.container

		

		//letter
		.letter-set
			.letter-set__container
				span.letter-set__letter A


		//.box-list
		.box-list

			.box-list__scroll

				include components/_candidate-board.pug

				include components/_candidate-board.pug

		///.box-list
		
		
		//letter
		.letter-set
			.letter-set__container
				span.letter-set__letter B


		//.box-list
		.box-list

			.box-list__scroll

				include components/_candidate-board.pug

				include components/_candidate-board.pug



