extends templates/template-dashboard.pug

block content

	.container


		//.candidate-board__container
		a.candidate-board__container.subsection.box--shadow-hover.link-inherit(href="profile.html")

			+candidateBoard(
				"Add to Shortlist",
				"hands-shake.svg"
			)
	

			+candidateBoardBottom(
				"leadership.svg"
			)


		///.candidate-board__container





		//.candidate-board__container
		a.candidate-board__container.subsection.box--shadow-hover.link-inherit(href="profile.html")

			+candidateBoard(
				"Add to Shortlist",
				"hands-shake.svg"
			)
	

			+candidateBoardBottom(
				"medal.svg"
			)


		///.candidate-board__container





		//.candidate-board__container
		a.candidate-board__container.subsection.box--shadow-hover.link-inherit(href="profile.html")

			+candidateBoard(
				"Shortlisted",
				"hands-shake-yellow.svg"
			)
	

			+candidateBoardBottom(
				"leadership.svg"
			)


		///.candidate-board__container




