extends templates/template-dashboard.pug

block content

	.container

		include components/_job-board.pug
		include components/_job-board.pug
		include components/_job-board.pug
		include components/_job-board.pug



	

