extends templates/template-login.pug

block content

	
	//.form-alerts-container - errors alerts
	.form-alerts-container
		
		// .form-alert is hidden by default. add class .is-visible to show it
		p.form-alert.is-visible
			| Incorrect Password

	
	///.form-alerts-container


	+login-top

	form
		
		p
			input.form-control(type="text" placeholder="Email")

		p
			// use class .is-invalid for error state
			input.form-control.invalid-demo(type="password" placeholder="Password")

		+login-form-bottom
				

			


