extends templates/template-login.pug

block content

	
	//.form-alerts-container - errors alerts
	.form-alerts-container
		
		// .form-alert is hidden by default. add class .is-visible to show it
		p.form-alert
			| Enter your account email and we’ll send you a link to reset your password

	
	///.form-alerts-container


	+login-top

	form
		
		p
			input.form-control(type="text" placeholder="Email")
		
		br
		
		p.text-center
			
			button.btn.btn-success.btn-system.btn-mobile-full-width(type="submit") RESET PASSWORD
				

			


