extends templates/template-login.pug

block content


	+login-top

	form
		
		p
			input.form-control(type="text" placeholder="Email")

		p
			input.form-control(type="password" placeholder="Password")

		+login-form-bottom
				

			


