extends templates/template-login.pug

block content

	
	//.form-alerts-container - errors alerts
	.form-alerts-container
		
		// .form-alert is hidden by default. add class .is-visible to show it
		p.form-alert.is-visible
			| Passwords should be identical

	
	///.form-alerts-container


	+login-top

	h5.fw600.text-center
		| chuck@acme.co

	form
		
		p
			input.form-control(type="password" placeholder="New Password")
		
		
		p
			input.form-control(type="password" placeholder="Confirm New Password")
		
		br
		
		p.text-center
			
			button.btn.btn-success.btn-system.btn-mobile-full-width(type="submit") RESET PASSWORD
				

			


